{% extends "layout.html" %}
    {% block content %}
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <h1>Account Info</h1>
        <div id="line-graph"></div>
            <script>
            var data = {{fig_json|safe}};
            Plotly.newPlot('line-graph', data.data, data.layout);
            </script>
        <table class="ui selectable inverted table">
            <thead>
              <tr>
                <th>Symbol</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              {% for row in rows %}
                <tr>
                    <td>{{ row.date }}</td>
                    <td>{{ "${:,.2f}".format(row.portfolio_value|float) }}</td>


                </tr>
              {% endfor %}
            </tbody>
          </table>
    {% endblock %}